<% allNotes.forEach(allNotes => { %>
<% if(selected_note_id === allNotes.id) { %>
<div class="notebox">
    <div class="note_top_strip">
        <img id="drawing_pin_image" src="/assets/images/drawing_pin.png" alt="">
    </div>
    <form method="POST" action="/edit/<%= allNotes.id %>?_method=PUT" enctype="multipart/form-data">
        <input name="edited_title" value="<%= allNotes.title %>">
        <textarea name="edited_content"><%= allNotes.content %></textarea>
        <input placeholder="<%= allNotes.youtube_video_url %>" name="edited_youtube_video_url" pattern="^(http(s)?:\/\/)?((w){3}.)?youtu(be|.be)?(\.com)?\/.+" title='Only valid Youtube URLs are accepted'>
        <div> <%= allNotes.date.toUTCString() %></div>
        <img src=/assets/images/<%=allNotes.imageName%> height="auto" width="200px" alt="">
        <div class="file_input_container">
            <input type="file" name="update_file">
        </div>
        <div class="modifiers_container">
            <button type="submit" class="note_modifier" id="update_button">Update</button>
            <a href="/" class="note_modifier" id="cancel_button">Cancel</a>
        </div>
    </form>
</div>
<% } else { %>
<%- include('./_notebox_readonly.ejs', {allNotes: allNotes}); %>
<% } %>
<% }) %>

<!-- Have to pass allNotes as a context variable to the partial, otherwise allNotes variable is undefined - https://stackoverflow.com/questions/29196562/how-to-include-a-template-with-parameters-in-ejs -->