<% allNotes.forEach(allNotes => { %>
<% if(selected_note_id === allNotes.id) { %>
<div class="notebox">
    <form method="POST" action="/edit/<%= allNotes.id %>?_method=PUT" enctype="multipart/form-data">
        <textarea placeholder="<%= allNotes.title %>" name="edited_title"></textarea>
        <textarea placeholder="<%= allNotes.content %>" name="edited_content"></textarea>
        <div> <%= allNotes.date.toUTCString() %></div>
        <div class="file_input_container">
            <input type="file" name="update_file">
        </div>
        <div class="modifiers_container">
            <button type="submit" class="note_modifier" id="update_button">Update</button>
            <a href="/" class="note_modifier" id="cancel_button">Cancel</a>
        </div>
    </form>
</div>
<% } else { %>
<%- include('./_notebox_readonly.ejs', {allNotes: allNotes}); %>
<% } %>
<% }) %>

<!-- Have to pass allNotes as a context variable to the partial, otherwise allNotes variable is undefined - https://stackoverflow.com/questions/29196562/how-to-include-a-template-with-parameters-in-ejs -->