<% allNotes.forEach(allNotes => { %>
<% if(selected_note_id === allNotes.id) { %>
<div class="notebox">
    <img id="drawing_pin_image" src="/assets/static_images/drawing_pin.png" alt="">
    <form method="POST" action="/edit/<%= allNotes.id %>?_method=PUT" enctype="multipart/form-data">
        <input maxlength="23" name="edited_title" id="edited_title" value="<%= allNotes.title %>">
        <div class="notebox_content_container">
            <h2 id="notebox_content_title">Content:</h2>
            <textarea name="edited_content" id="edited_content"><%= allNotes.content %></textarea>
        </div>
        <img id="upload_image" src=/assets/images/<%=allNotes.imageName%> alt=''>
        <div class="file_input_container">
            <input type="file" name="update_file" accept="image/gif, image/jpeg, image/png">
        </div>
        <div id="timestamp"> <span>Date Updated :</span> <%= allNotes.date.toUTCString() %></div>
        <div class="modifiers_container">
            <button type="submit" class="note_modifier" id="update_button">Update</button>
            <a href="/" class="note_modifier" id="cancel_button">Cancel</a>
        </div>
    </form>
</div>
<% } else { %>
<%- include('./_notebox_readonly.ejs', {allNotes: allNotes}); %>
<% } %>
<% }) %>

<!-- Have to pass allNotes as a context variable to the partial, otherwise allNotes variable is undefined - https://stackoverflow.com/questions/29196562/how-to-include-a-template-with-parameters-in-ejs -->