<div class="notebox">
    <img id="drawing_pin_image" src="/assets/static_images/drawing_pin.png" alt="">
    <h1 id="notebox_heading"> <%= allNotes.title %></h1>
    <div class="notebox_content_container">
        <h2 id="notebox_content_title">Content:</h2>
        <div id="notebox_content">
            <%- allNotes.sanitised_content %>
        </div>
    </div>
    <img id="upload_image" src=/assets/images/<%=allNotes.imageName%> alt="">
    <div id="timestamp"> <span>Date Updated :</span> <%= allNotes.date.toUTCString() %></div>
    <div class="modifiers_container">
        <a href="/edit/<%= allNotes.id %>" class="note_modifier" id="edit_button">Edit</a>
        <form method="POST" action="/<%= allNotes.id %>?_method=DELETE" id="delete_form">
            <button type="submit" class="note_modifier" id="delete_button">Delete</button>
        </form>
    </div>
</div>

<!-- All notes are looped through by generates_notes.ejs. The specific id of note being edited is sent to the server as a route parameter on link 6, so then conditional logic can be applied to this note and render update/cancel buttons instead of edit and delete buttons -->