<div class="notebox">
    <div class="note_top_strip">
        <img id="drawing_pin_image" src="/assets/images/drawing_pin.png" alt="">
    </div>
    <h1> <%= allNotes.title %></h1>
    <div id="notebox_content"> <%= allNotes.content %></div>
    <img id="upload_image" src=/assets/images/<%=allNotes.imageName%> alt="">
    <div class="youtube_link_container">
        <div><span>Youtube Link: </span><a href=" <%= allNotes.youtube_video_url %>" target="_blank"> <%= allNotes.youtube_video_title %> </a></div>
    </div>
    <div id="timestamp"> <%= allNotes.date.toUTCString() %></div>
    <div class="modifiers_container">
        <a href="/edit/<%= allNotes.id %>" class="note_modifier" id="edit_button">Edit</a>
        <form method="POST" action="/<%= allNotes.id %>?_method=DELETE" id="delete_form">
            <button type="submit" class="note_modifier" id="delete_button">Delete</button>
        </form>
    </div>
</div>

<!-- All notes are looped through by generates_notes.ejs. The specific id of note being edited is sent to the server as a route parameter on link 6, so then conditional logic can be applied to this note and render update/cancel buttons instead of edit and delete buttons -->