<div class="notebox">
    <div> <%= allNotes.title %></div>
    <div> <%= allNotes.content %></div>
    <div> <%= allNotes.date.toUTCString() %></div>
    <img src=/assets/images/<%=allNotes.imageName%> height="auto" width="200px" alt="">
    <div class="modifiers_container">
        <a href="/edit/<%= allNotes.id %>" class="note_modifier" id="edit_button">Edit</a>
        <form method="POST" action="/<%= allNotes.id %>?_method=DELETE" id="delete_form">
            <button type="submit" class="note_modifier" id="delete_button">Delete</button>
        </form>
    </div>
</div>

<!-- All notes are looped through by generates_notes.ejs. The specific id of note being edited is sent to the server as a route parameter on link 6, so then conditional logic can be applied to this note and render update/cancel buttons instead of edit and delete buttons -->