<h1>hello from strava.ejs </h1>
<div> <%= strava_data.average_speed %> </div>
<div> <%= strava_data.distance %> </div>
<div> <%= strava_data.moving_time %> </div>
<div> <%= strava_data.max_speed %> </div>
<div> <%= strava_data.date %> </div>