<h1>hello from strava.ejs </h1>
<% strava_db.forEach((run) => { %>
    <br>
    <div> upload id - <%= run.upload_id %> </div>
    <div> average_speed - <%= run.average_speed %> </div>
    <div> distance - <%= run.distance %> </div>
    <div> moving time - <%= run.moving_time %> </div>
    <div> max speed - <%= run.max_speed %> </div>
    <div> date - <%= run.date.toUTCString() %> </div>
    <br>
<% }); %>


